<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>C5A7C3CFEA4F3F7C2B62D6860BA8B313</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
