
.collapse-box{

    padding-bottom: 10px;
  
    .collapse-header{
  
      @include Page-Title;
      
      padding: 10px 10px 10px 0;
      // border-radius: 5px;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      // color: rgba(#e3c38d, 0.8);
      font-weight: normal;
  
      .title{
        font-size: font-resize(18px);
        flex: 1;
        display: flex;
        align-items: center;
      }
  
      $collapse-header-title-fontSize: font-resize(15.5px);
      $collapse-header-title-number-size: $collapse-header-title-fontSize + font-resize(3px);
  
      .title-name{
        padding-right: 0.5rem;
        font-size: $collapse-header-title-fontSize;
  
      }
      .title-num{
  
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
  
        width: $collapse-header-title-number-size;
        height: $collapse-header-title-number-size;  
        
        font-size: font-resize(14px);
        
      } 
      
  
      .arrow{
        // border-color: rgba(#e3c38d, 0.75);
        border-width: 2px 2px 0 0;
      }
  
      &.collapse-header-full{
       
        padding: font-resize(8px) font-resize(8px);
        border-radius: 10px 10px 0 0;
        // margin-bottom: 0.5rem;
  
       
  
        &[aria-expanded="true"],
        &[aria-mobile-expanded="true"]
        {
          background-color: rgba( #c1a678, 1);

          .title-name{
            color: #41475f;
          }
  
          .title-num{
            background-color: #41475f;
          } 

        }
  
        &[aria-expanded="false"],
        &[aria-mobile-expanded="false"]
        {
  
          background-color: rgba( #565a6b, 1);
          
  
          // @include media-breakpoint-down(gx){
            @media (max-width:breakpoints_BS4(gx) - 1){
            // border: solid 1px rgba(#ffffff, .1);
            border: solid 1px rgba(#e3c38d, .3);
  
          }

          .title-name{
            color: rgba(#e3c38d, 0.85);
          }
  
          .title-num{
            background-color: rgba(#e3c38d, .6);
            color: rgba(#41475f, 1);          
          } 

          
  
        }
  
        @include media-breakpoint-up(gx){
  
          &[aria-expanded="true"],
          &[aria-expanded="false"],
          &[aria-desktop-expanded="true"],
          &[aria-desktop-expanded="false"]
          {
            background-color: transparent;
  
            .title-num{
              background-color: rgba(#e3c38d, .8);
              color: rgba(#41475f, 1);
            } 


          }
          
  
          &[aria-expanded="false"][aria-desktop-expanded="true"]{         
            // background-color: rgba( #c1a678, 1);
           
          }
  
        }
  
  
      }
  
  
      
    }
    
    .collapse-content{
    
      // transition: all .3s ease-out;
      transition: all 300ms ease-out;
      
      // -webkit-backface-visibility: hidden;
      // -webkit-transform: translate3d(0,0,0);

      overflow: hidden;
      max-height: 0;
  
      padding: 0;
      
  
      @include media-breakpoint-up(sm){
        padding: 0 10px;
      }
    
    
      &:not(.show) {          
        //Bootstrap Reset => Bootstrap Default:none
           display: inherit;
        //    height: 0;
      }
     
    
      &.show,
      &.mobile-show
      {
        max-height: 100%;        
      }
  
      
      @include media-breakpoint-up(gx){
  
        &.desktop-show{ 
            // transition: all .3s ease-out;
            max-height: 100%;
        }
  
      }
    
    }
  
    .dataList-process{
      margin-top: font-resize(10px);
  
    }
  
  }


  .wrapper__TopCollapse{
    position: fixed;
    overflow-y: auto;
    transition: all 0.3s ease-out;

    //投注記錄
    &.orderHistory_userAccount{
      height: calc(100% - #{font-resize(390px)});
      top: font-resize(390px);

      &.top_collapse{
        height: calc(100% - 65px);
        top: 65px;
      }

      @include media-breakpoint-up(smd){
        &.top_collapse{
          height: calc(100% - 85px);
          top: 85px;
        }
        height: calc(100% - #{font-resize(400px)});
        top: font-resize(400px);

      }

      @include media-breakpoint-up(md){
        height: calc(100% - #{font-resize(350px)});
        top: font-resize(350px);
      }
      @include media-breakpoint-up(lg){
        height: calc(100% - #{font-resize(300px)});
        top: font-resize(300px);
      }

      @include media-breakpoint-up(gx){
        height: calc(100% - #{font-resize(300px)});
        top: font-resize(300px);
      }

      @include media-breakpoint-up(xl){
        height: calc(100% - #{font-resize(240px)});
        top: font-resize(240px);
      }
      
      @include media-breakpoint-up(xxl){
        height: calc(100% - #{font-resize(240px)});
        top: font-resize(240px);
      }

    }

    //投注記錄 - 明細頁
    &.orderHistory_detail{
      height: calc(100% - #{font-resize(210px)});
      top: font-resize(210px);

      &.top_collapse{
        height: calc(100% - 65px);
        top: 65px;
      }

      @include media-breakpoint-up(smd){
        &.top_collapse{
          height: calc(100% - 85px);
          top: 85px;
        }
        
        height: calc(100% - #{font-resize(240px)});
        top: font-resize(240px);

      }

      @include media-breakpoint-up(xl){
        height: calc(100% - #{font-resize(170px)});
        top: font-resize(170px);
        
      }
    

    }


     //投注記錄
     &.getAccountingByDate{

        height: calc(100% - #{font-resize(455px)});
        top: font-resize(455px);

        &.top_collapse{
          height: calc(100% - 121px);
          top: 121px;
        }

        @include media-breakpoint-up(smd){
          &.top_collapse{
            height: calc(100% - #{font-resize(145px)});
            top: #{font-resize(145px)};
          }
          
          height: calc(100% - #{font-resize(415px)});
          top: font-resize(415px);
  
        }
  
        @include media-breakpoint-up(md){
          height: calc(100% - #{font-resize(385px)});
          top: font-resize(385px);
          
        }
        @include media-breakpoint-up(lg){
          height: calc(100% - #{font-resize(355px)});
          top: font-resize(355px);
          
        }
        @include media-breakpoint-up(gx){
          height: calc(100% - #{font-resize(325px)});
          top: font-resize(325px);
          
        }

        @include media-breakpoint-up(xl){
          height: calc(100% - #{font-resize(330px)});
          top: font-resize(330px);
          
        }

     }



  }