$color_main: (

  'brand': #93ba77,

  'theme-blue-1': #132d44,

  // 'theme-Gold-1': #f6e3a3,
  // 'theme-Gold-2': #d7bb6a,
  // 'theme-Gold-3': #cfb465,
  // 'theme-Gold-4': #e0c56b,
  // 'theme-Gold-5': #978758,
  // 'theme-Gold-6': #ebd17c,
  // 'theme-Gold-text': #8e6a00,

  'black': #000000,
  'white': white,
  'text': white, 

  'gray-1': #cccccc,
  'gray-2': #989898,
  'gray-7': #444,
  'gray-8': #333,
  'gray-9': #222,  

  'midtones-a-1': #323647,
  'midtones-a-2': #3e4359,
  'midtones-a-3': #333849,
  'midtones-a-4': #2d3040,
  
  'theme-main-a-1': #e3c38d,  
  'theme-main-a-2': #9c8866,  

  'theme-sub-a-1': #6777bd, 
  'theme-sub-a-2': #262936, 
  'theme-sub-a-3': #7b97fe, 

  'theme-sub-b-1': #4EEBE9,  
  'theme-sub-b-2': #2ec7e6,  
  'theme-sub-b-3': #45b6d4,  
  'theme-sub-b-4': #2ee6d7,  
  'theme-sub-b-5': #66a8ba,

  'theme-warn-1': #ff6060
  );



$color_body: (
  'body-bg1': #323647,  
  'body-bg2': #3e4359 
);  

$color_header: (
  'header-main-bg1': #383c4d,  
  'header-main-bg2': #424862 
);  


$color_social: (
  'youtube': #cd201f,
  'facebook': #3b5998,
  'line': #00c300,
  'twitter': #1da1f2,
  'linkin': #0077b5,
  'gplus': #dd4b39
  );


  @function tintOrShade($color) {
    @if (lightness($color) > 50) {
      @return saturate(darken( $color, 30% ), 50%);
    } @else {
      @return desaturate(lighten( $color, 20% ), 50%);
    }
  }
  
  @function color_main($color_name){
    @return map-get($color_main, $color_name);
  }
  
  @function color_body($color_name){
    @return map-get($color_body, $color_name);
  }

  @function color_header($color_name){
    @return map-get($color_header, $color_name);
  }


  @function color_social($color_name){
    @return map-get($color_social, $color_name);
  }
  
  @function color_slider($color_name){
    @return map-get($color_slider, $color_name);
  }