// Z-index list
$zindex-maskSlider-title:  3 !default;

$zIndexs-maskSlider: (
  'maskSlider-title',
  'maskSlider-hover',
 
);

$zIndexs-header:  2;
$zIndexs-mask-overlay-body:  2;

$zIndexs-siderbar-collapse:  3;

$zIndexs-popup: 3;
$zIndexs-popup-btn-close: 1;

$zIndexs-toast-notify: 3;


//銀行卡管理頁面  UserAccountBankCard_Manage.aspx

// $zIndexs-toast-notify: 3;